body {
    margin: 0;
    padding: 0;
    background-color: lightgray;
  }
  
  nav {
    background-color: black;
    display: flex;
    height: 90px;
    width: 100%;
    justify-content: space-between;
  }
  
  nav img {
    padding: 10px;
    height: 70px;
  }
  
  .nav-bar ul {
    list-style-type: none;
    display: flex;
  }
  
  .nav-bar ul li {
    margin: 10px 30px 0px 70px;
    padding-top: 6px;
  }
  
  .nav-bar a {
    text-decoration: none;
    color: white;
    font-size: 27px;
    font-weight: bold;
    transition: 1s;
  }
  
  main {
    height: 520px;
  }
  .container h1 {
    margin-top: 80px;
    font-size: 50px;
    text-align: center;
    transition: 2s;
  }
  
  .container h1:hover {
    font-size: 50px;
    text-align: center;
    color: darkblue;
  }
  
  .content {
    display: flex;
  }
  
  .content p {
    font-size: 25px;
    width: 900px;
    text-align: justify;
    margin: 70px 70px 20px 70px;
  }
  
  .content img {
    border: solid 3px;
    height: 300px;
    width: 300px;
    padding: 2px;
    transition: 1s;
  }
  
  .content img:hover {
    border: solid 3px;
    height: 300px;
    background-color: aqua;
    transform: scale(1.1) rotate(2deg);
  }
  
  .more_button {
    margin: 35px 0px 0px 1130px;
    font-size: 14px;
    height: 30px;
    transition: 1s;
    border-radius: 5px;
    background-color: aliceblue;
    font-weight: bold;
    margin-left: 1125px;
  }
  
  .more_button:hover {
    transform: scale(1.3);
    margin: 35px 0px 0px 1130px;
    height: 30px;
    background-color: black;
    color: white;
    font-weight: bolder;
    border: solid 3px white;
  }
  
  .footer {
    height: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f1f1f1;
  }
  
  .footer p {
    margin: 0;
    font-weight: bolder;
    font-size: 19px;
  }
  
  .media {
    display: flex;
  }
  
  .media a {
    margin-left: 10px;
  }
  
  .media img {
    width: 24px;
    height: auto;
  }
  .media a {
    padding: px 10px 10px 2px;
    text-decoration: none;
    color: black;
  }
  
  @media (max-width: 480px) {
    nav {
      display: none;
    }
  
    main {
      width: 100vh;
    }
    .container h1 {
      font-size: 16px;
      display: block;
    }
  
    .content p {
      display: block;
      width: 100vh;
      height: 1500px;
    }
  }
